.container {
    margin: 50px 0 ;
}
.MuiPaper-root.card {
    margin: 0 4%;
    @media (max-width: 760px) {
        margin-bottom: 1rem;
    }
    &.infected {
        background-color: rgba(0,0,255,0.7);
        color: #fff;
    }
    &.recovered {
        background-color: rgba(0,255,0,0.7);
        color: #fff;
    }
    &.deaths {
        background-color: rgba(255,0,0,0.7);
        color: white
    }
    p.MuiTypography-root {
        letter-spacing: 2px;
        
    }
    .MuiTypography-root.MuiTypography-colorTextSecondary {
        color: #fff;
    }

}

// .infected {
//     border-bottom: 10px solid rgba(0,0,255,0.5);
// }
// .recovered {
//     border-bottom: 10px solid ;
// }
// .deaths {
//     border-bottom: 10px solid rgba(255,0,0,0.5);
// }